.container {
    width: auto;
    height: auto;
    /* border: 2px solid white; */
    justify-self: center;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: justify;
    color: grey;
}

.ruleBox {
    width: 350px;
    height: auto;
}

.ruleBox h4 {
    text-align: center;
    margin-bottom: 10px;
}


.ruleBox ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

@media screen and (max-width: 500px) {}