.containerOnHome {
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 50px;
    /* background-color: red; */
}

.containerNotOnHome {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 50px;
    /* background-color: pink; */
}

.btnContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 100%;
    font-weight: 500;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.homeBtn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
}

.homeBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}



@media screen and (max-width: 1024px) {
    .container {
        /* height: 500px; */
        height: auto;
        margin-top: 10%;
    }

    .containerOnHome {
        gap: 50px;
    }

    .btn {
        width: 150px;
        height: 150px;
        font-weight: 600;
        font-size: 20px;
        border-width: 3px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        height: 400px;
    }

    .containerOnHome {
        gap: 40px;
        flex-direction: column;
    }

    .containerNotOnHome {
        gap: 20px;
    }

    .btnContainer {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 100px;
        height: 100px;
        font-weight: 400;
        font-size: 14px;
        border-width: 2px;
    }
}