* {
    color: white;
    background-color: black;
    text-align: center;
}

.container {}

.btn {
    background-color: black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 100%;
    font-weight: 500;
}

.homeBtn {
    width: 100px;
    height: 40px;
    border-radius: 8px;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.btnContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}