.App {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin: 0px;

}

* {
    color: white;
    background-color: black;
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .App {
        justify-content: flex-start;
        padding-top: 20px;
        margin-bottom: 50px;
    }
}