* {
    font-family: "Google Sans Flex", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    color: white;
}