.gridContainer {
    width: auto;
    height: auto;
    /* border: 2px solid white; */
    border-radius: 10px;
    /* box-sizing: border-box; */
    justify-self: center;

}

.gridBox {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    margin: 2px;

}

.pressed {
    background-color: white;
    color: black;
}

/* .gridBox:last-child {
    border: none;
} */

.gridRow {
    width: auto;
    /* border-bottom: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

@media screen and (max-width:1050px) {

    .gridBox {
        width: 40px;
        height: 40px;
        font-size: 14px;
        padding: 0px;
    }
}

@media screen and (max-width:500px) {

    .gridBox {
        width: 30px;
        height: 30px;
        font-size: 10px;
        padding: 0px;
    }
}